snippet numpy "import numpy"
import numpy as np
endsnippet

snippet scipy "import scipy"
import scipy as sp
endsnippet

snippet pandas "import pandas"
import pandas as pd
endsnippet

snippet matpltolib "import pyplot"
import matplotlib.pyplot as plt
endsnippet

snippet exec
${1:df} = execute(
    '''
    ${0}
    '''.format(**vars()))
endsnippet
