"*":
  "atom-beautify":
    general:
      _analyticsUserId: "fe327e71-4b88-4193-b36c-da9cf069539a"
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "vim-surround"
      "japanese-menu"
      "ex-mode"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    invisibles: {}
    scrollPastEnd: true
    tabType: "soft"
  "exception-reporting":
    userId: "32d4ddd2-ca37-2aa8-7bd2-abf8d6a0280f"
  "markdown-preview":
    breakOnSingleNewline: true
    useGitHubStyle: true
  minimap:
    plugins:
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
  "vim-mode-plus-ex-mode":
    notifiedUseExMode: true
  welcome:
    showOnStartup: false
