# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * https://atom.io/docs/latest/using-atom-basic-customization#customizing-key-bindings
# * https://atom.io/docs/latest/behind-atom-keymaps-in-depth
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# https://atom.io/docs/latest/using-atom-basic-customization#cson

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'j': 'vim-mode-plus:move-left'
  'i': 'vim-mode-plus:move-up'
  'k': 'vim-mode-plus:move-down'
  'L': 'vim-mode-plus:move-to-next-whole-word'
  'H': 'vim-mode-plus:insert-at-beginning-of-line'
  'T': 'pane:show-previous-item'

'atom-text-editor.vim-mode-plus.normal-mode':
  'h': 'vim-mode-plus:activate-insert-mode'
  ':': 'vim-mode-plus-ex-mode:open'
  '!': 'vim-mode-plus-ex-mode:toggle-setting'

'atom-text-editor.vim-mode-plus.operator-pending-mode, atom-text-editor.vim-mode-plus.visual-mode':
  'h w': 'vim-mode-plus:inner-word'
  'h W': 'vim-mode-plus:inner-whole-word'
  'h "': 'vim-mode-plus:inner-double-quote'
  'h \'': 'vim-mode-plus:inner-single-quote'
  'h `': 'vim-mode-plus:inner-back-ticks'
  'h {': 'vim-mode-plus:inner-curly-brackets'
  'h }': 'vim-mode-plus:inner-curly-brackets'
  'h B': 'vim-mode-plus:inner-curly-brackets'
  'h <': 'vim-mode-plus:inner-angle-brackets'
  'h >': 'vim-mode-plus:inner-angle-brackets'
  'h t': 'vim-mode-plus:inner-tags'
  'h [': 'vim-mode-plus:inner-square-brackets'
  'h ]': 'vim-mode-plus:inner-square-brackets'
  'h (': 'vim-mode-plus:inner-parentheses'
  'h )': 'vim-mode-plus:inner-parentheses'
  'h b': 'vim-mode-plus:inner-parentheses'
  'h p': 'vim-mode-plus:inner-paragraph'

'.platform-darwin atom-workspace':
  'shift-cmd-O': 'nuclide-quick-open:find-anything-via-omni-search'

'atom-workspace':
  'shift-cmd-A': 'command-palette:toggle'
